.homeMain {
  background-color: #faf3e0;
  MAX-height: 80vh;
  border: 3px solid purple;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  border: 3px solid red;
}

.homeTitle {
  font-family: "Diplomata SC", serif;
  font-weight: 800;
  font-style: normal;
  padding-top: 5vh;
  color: #3a2f2f;
}

.ContentContainer {
  border: 3px solid gold;
  min-height: 63vh;
}
