.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #faf3e0;
  overflow-x: hidden;


}

.appFooter{
  border: 3px solid black;
  min-height: 10vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-Nav {
  background-color: #2e5339;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-wrap: wrap;
  min-height: 10vh;
  max-height: 10vh;
  min-width: 100vw;
  max-width: 100vw;
  align-items: center;
}

#siteTitle {
  font-size: xx-large;
}

.App-Title-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: vw;
  color: #d9a441;
  font-family: "Diplomata SC", serif;
  font-weight: 400;
  font-style: normal;
}

.App-logo {
  min-height: 8vmin;
  max-height: 8vmin;
  margin-right: 1.5vw;
  margin-left: 0.75vw;
  pointer-events: none;
  display: flex;
  flex-direction: row;
}

.navLinks-Container {
  display: flex;
  flex-direction: row;
  margin-left: 5vw;
  align-items: center;
  justify-content: center;
}
.navLinks {
  float: right;
  color: #d9a441;
  font-family: "Unlock", serif;
  font-weight: 400;
  font-style: normal;
  padding-right: 8vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
